@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@1,200&display=swap');


main{
    flex-grow: 1;
    display: flex;
}

.container-conteudo{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-family: 'Mulish', sans-serif;
}

.container-conteudo h1{
    color: #000000;
    text-shadow: 2px 2px 4px #FF0000, -2px 2px 4px #FF0000, 2px -2px 4px #FF0000, -2px -2px 4px #FF0000 ;
}

.container-conteudo h1{
    font-size: 6rem;
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-family: 'Bangers', cursive;
}

.container-conteudo h1 span{
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(10px);
}

.titulo-filme{
    font-size: 2.6rem;
    font-style: italic;
    color: #fff;
    transform: translateY(0px);
}

.texto-descricao{
    width: 844px;
    font-size: 1.1rem;
    font-weight: 100;
    margin-top: 20px;
}

.butao{
    height: 60px;
    width: 300px;
    border-radius: 10px;
    background-color: #E62721;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.social-conteiner{
    width: 48px;
}

.social-conteiner ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.social-conteiner li{
    height: 48px;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: all 1s;
}

.social-conteiner i{
    font-size: 1.5rem;
}

.social-conteiner li:hover{
    background-color: #E62721;
    border-color: #E62721;
    
}
